In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
# WORKING WITH SERIES
# CREATING A SERIES
obj = Series([3,6,9,12])
obj

0     3
1     6
2     9
3    12
dtype: int64

In [3]:
obj.values

array([ 3,  6,  9, 12])

In [4]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [5]:
# CREATING A SERIES WITH NAMED INDEX
coins = Series([.01,.05,.06,.09,.25],index=['penny','nickel','six','nine','quarter'])

In [6]:
coins

penny      0.01
nickel     0.05
six        0.06
nine       0.09
quarter    0.25
dtype: float64

In [8]:
coins['nickel']

0.050000000000000003

In [10]:
coins[coins>.07]

nine       0.09
quarter    0.25
dtype: float64

In [11]:
# CONVERTING A SERIES INTO A PYTHON DICTIONARY

coin_dict = coins.to_dict()
coin_dict

{'nickel': 0.050000000000000003,
 'nine': 0.089999999999999997,
 'penny': 0.01,
 'quarter': 0.25,
 'six': 0.059999999999999998}

In [12]:
coint = coins.to_csv()

In [13]:
coint

'penny,0.01\nnickel,0.05\nsix,0.06\nnine,0.09\nquarter,0.25\n'

In [17]:
coint_series = Series(coint)

In [18]:
coint_series

0    penny,0.01\nnickel,0.05\nsix,0.06\nnine,0.09\n...
dtype: object

In [19]:
coinlabels = ['penny','nickel','dime','quarter','SBAnthony']

In [20]:
coins3 = Series(coin_dict,index=coinlabels)

In [21]:
pd.isnull(coins3['SBAnthony'])

True

In [22]:
pd.isnull(coins3['penny'])

False

In [23]:
pd.notnull(coins3['nickel'])

True

In [24]:
obj = Series([3,6,9,12])

In [25]:
obj1 = Series([4,5,6,7])

In [26]:
obj + obj1

0     7
1    11
2    15
3    19
dtype: int64

In [27]:
coins3.index.name = 'Coins'

In [28]:
coins3

Coins
penny        0.01
nickel       0.05
dime          NaN
quarter      0.25
SBAnthony     NaN
dtype: float64

In [29]:
ser1 = Series(list('abacab'))

In [30]:
ser1.unique()

array(['a', 'b', 'c'], dtype=object)

In [31]:
# counts the number of items 
ser1.value_counts()

a    3
b    2
c    1
dtype: int64

In [33]:
# Rank and Sort
# Sort by Index Name using .sort_index:
ser1 = Series(range(3), index=['c','b','a'])

In [34]:
ser1.sort_index()

a    2
b    1
c    0
dtype: int64

In [35]:
ser1.sort_index(inplace=True)

In [36]:
ser1

a    2
b    1
c    0
dtype: int64

In [37]:
# sort by Value using .sort_values
ser1.sort_values()

c    0
b    1
a    2
dtype: int64

In [38]:
ser1.rank()

a    3.0
b    2.0
c    1.0
dtype: float64

In [39]:
len(ser1)

3

In [41]:
ser1.last

<bound method NDFrame.last of a    2
b    1
c    0
dtype: int64>